body {
  background-color: #e3f2fd;
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  height: 100vh;
}

.menu ul li a {
  text-decoration: none;
  color: #0d47a1;
  text-align: left;
}
.menu ul {
  padding: 0;
}
.menu ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0.5px solid #b0bec5;
  margin: 0;
  justify-content: center;
  text-align: center;
  background-color: #bbdefb;
  line-height: 30px;
}
.menu div ul li {
  list-style: none;
  border: 0.5px solid #b0bec5;
  margin: 0;
  padding-left: 25%;
  text-align: left;
  background-color: #d3e7f0;
  line-height: 30px;
}
.menu img {
  margin-left: 30px;
}
.sidebar {
  display: block;
  background-color: #e3f2fd;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 100vh;
  min-width: 250px;
}
.sidebar-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #b0bec5; /* viền xám */
  margin-bottom: 20px;
}

.dangxuat {
  text-decoration: none;
  color: #0d47a1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.dangxuat img {
  width: 24px;
  height: 24px;
  transition: filter 0.3s ease;
}

/* Hover: đổi màu chữ và icon */
.dangxuat:hover {
  color: red;
}

.dangxuat:hover img {
  filter: brightness(0) invert(1);
}

.user-info {
  color: #1976d2;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Căn trái */
  padding-left: 110px; /* Thêm lề trái nếu muốn cách một chút */
}

.user-info .label {
  font-weight: bold;
  margin-right: 4px;
}

.user-info div {
  margin: 2px 0;
}
.sidebar-header img {
  margin-bottom: 20px;
}
.menu ul li:hover {
  background-color: #1976d2;
}
.menu ul li a:hover {
  color: white;
}
.menu ul li img {
  width: 24px;
  height: 24px;
  transition: filter 0.3s ease;
  gap: 8px;
}

.menu ul li:hover img {
  filter: brightness(0) invert(1);
}
.menu ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border: 0.5px solid #b0bec5;
  background-color: #bbdefb;
  transition: background-color 0.3s ease;
}

.menu ul li img {
  width: 24px;
  height: 24px;
}

.menu ul li a {
  flex: 1;
  text-decoration: none;
  color: #0d47a1;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}

.menu ul li:hover {
  background-color: #1976d2;
}
